spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mysql:3306/lotto-challenge
    username: root
    password: root
  jpa:
    hibernate.ddl-auto: none
    show-sql: true
    properties.hibernate.format_sql: true
  thymeleaf:
    check-template-location: true
    suffix: .html
    mode: HTML
    cache: false
